.header {
  background-color: #635985;
  padding: 0.5rem 2rem;
}
.header-logo-section {
    display: flex;
}
.header-logo-section img {
    height: 35px;
    margin: 10px 10px 0 0;
}
.logo-text {
    letter-spacing: 5px;
    color: #fff;
}
